{% include "base.html.twig" %}

<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-3">
            <h2>Url shorter</h2>     
        </div>
    </div>
</div>


<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-7">
            <h4>Sorry my friend, we don't know your url, maybe expired</h4>     
        </div>
    </div>
</div>


<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-3">
            <a href="{{ path('home') }}"> Home page </a>     
        </div>
    </div>
</div>